body {
	background-color: #FFFFFA;
}

.col-md-8 {
	background-color: #FFFFFA;
	height:auto;
}

.col-md-12{
	background-color: #003459;
	height:6em;
}

.linegraph {
	position:absolute;
}


